#root {
    height: 100%;
}

body {
    margin: 0px;
}

.main-container {
    height: 100%;
}

.btn {
    margin: auto;
    max-width: 120px;
    margin-top: -15px;
}

button {
    background-color: rgb(66, 133, 244);
    border-radius: 5px;
}

html {
    background-color: #eeeeee52;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}